extends layout
block content
      style.
        table { 
              width: 100%;
               }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;


        }
      .wrapper
           form.form-signin(method='', action='')
             h3 #[center About Us]    
             
             p #[center This Web Application is designed for the #[b Metropolitan Police] and #[b Local Authorities] to access Knife Crime and Youth Service Budget Funding information.]
             p #[center Users are able to change their account details (such as their password) themselves, instead of contacting an Administrator.]
             p #[center New users can gain access to the system by following a famililar registration process to verify their account starting #[a(href="/register") here.]]
             p #[center Administrators are able to change details of other users accounts. These functionalities require elevated permissions and are restricted from other users.]
             
             
             h3 #[center Use of Cookies]  
             p #[center This Web Application uses cookies to track login sessions of users. Users sessions sign out after a pre-determined time - although cookies will remain on your machine. Cookies are kept on the users machine for 365 days to prevent the reappearance of the cookie alert.]
             br
             a(id="modalbtn" type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#moreinfomodal") System Information


           div(class="modal fade" tabindex="-1" role="dialog" id="moreinfomodal")
            div(class="modal-dialog" role="document")
              div(class="modal-content")
                div(class="modal-header")
                  h4 #[center System Information]
                  button(type="button" class="close" data-dismiss="modal" aria-label="Close")

                div(class="modal-body")
                  p #[center Hosted On: #[b Heroku.]]
                  p #[center Engine: Powered by the #[b NodeJS Runtime] and #[b V8 JavaScript Engine.]]
                  p #[center Login System: #[b PassportJS | MySQL]]
                  p #[center Framework: #[b ExpressJS]]
                  p #[center UI Framework: #[b Bootstrap@4]]
                  p #[center Dashboard: #[b Tableau]]
                  br
                  p #[center #[b Prototype 3 (Final) | Developed by Lee Wallace.]]


                div(class="modal-footer")
                  a(type="button" class="btn btn-default" data-dismiss="modal") Close


//-
             p #[center Hosted On: #[b Heroku.]]
             p #[center Engine: Powered by the #[b NodeJS Runtime] and #[b V8 JavaScript Engine.]]
             p #[center Login System: #[b PassportJS | MySQL]]
             p #[center Framework: #[b ExpressJS]]
             p #[center UI Framework: #[b Bootstrap@4]]
             p #[center Dashboard: #[b Tableau]]