extends layout
block content
      style.
        table { 
              width: 100%;
               }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;


        }
      .wrapper
           form.form-signin(method='', action='')
             h3 #[center About Us]    
             br
             p #[center This Web Application is designed for the #[b Metropolitan Police] and #[b Local Authorities] to access Knife Crime and Youth Service Budget Funding information.]
             p #[center Users are able to change their account settings (password etc.) so they do not have to contact an Administrator.]
             p #[center New users can gain access by following a famililar registration process to verify their account found #[a(href="/register") here.]]
             p #[center Administrator are able to change attributes of other users accounts. These functionalities are restricted from other users.]
             br

             p #[center Hosted On: #[b Heroku.]]
             p #[center Engine: Powered by the #[b NodeJS Runtime] and #[b V8 JavaScript Engine.]]
             p #[center Login System: #[b PassportJS | MySQL]]
             p #[center Framework: #[b ExpressJS]]
             p #[center UI Framework: #[b Bootstrap@4]]
             p #[center Dashboard: #[b Tableau]]

             





             








