extends layout
block content
      style.
        table { 
              width: 100%;
               }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;


        }
      .wrapper
           form.form-signin(method='', action='')
             h3 #[center About Us]    
             br
             p 

             p #[center Hosted On: #[b Heroku.]]
             p #[center Engine: Powered by the #[b NodeJS Runtime] and #[b V8 JavaScript Engine.]]
             p #[center Framework: #[b ExpressJS]]
             p #[center UI Framework: #[b Bootstrap]]

             br


             
             br
             p #[center Developed with #[span(class="glyphicon glyphicon-heart")] by #[a(href="https://leewallace.me") Lee Wallace]]


             








