extends layout
block content
    .wrapper
        form.form-signin(method='', action='')
            h3(id="list-group-heading") #[center Accessibility]
    
            a(id="accessibilitylist" href="https://www.bbc.co.uk/accessibility/guides/change_colours/" class="list-group-item list-group-item-action") #[center Change Text and Background Colours]
            a(id="accessibilitylist" href="https://www.bbc.co.uk/accessibility/guides/change_fonts/" class="list-group-item list-group-item-action") #[center How to change fonts]
            a(id="accessibilitylist" href="https://www.bbc.co.uk/accessibility/guides/magnify" class="list-group-item list-group-item-action") #[center How to magnify the screen]
            a(id="accessibilitylist" href="https://www.bbc.co.uk/accessibility/guides/text_larger/" class="list-group-item list-group-item-action") #[center How to make text larger]
            a(id="accessibilitylist" href="https://www.bbc.co.uk/accessibility/guides/mouse_pointer/" class="list-group-item list-group-item-action") #[center Make the mouse pointer more visible]
            a(id="accessibilitylist" href="https://www.bbc.co.uk/accessibility/guides/speak_text/" class="list-group-item list-group-item-action") #[center Make your Computer speak text aloud]
            a(id="accessibilitylist" href="https://www.bbc.co.uk/accessibility/guides/keyboard_easier/" class="list-group-item list-group-item-action") #[center Make your keyboard easier to use]
            a(id="accessibilitylist" href="https://www.bbc.co.uk/accessibility/guides/alternative_devices/" class="list-group-item list-group-item-action") #[center Information on alternatives to keyboard and mouse]
            
            p(id="accessibilityDesc" class="text-muted") #[center The BBC provides descriptive accessibility pages. These pages provide information to improve the user experience when using accessibility features.]

       
            




