extends layout-auth
block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }
      .wrapper
           form.form-signin(method='', action='/dashboard')
             h3(id='adminID') #[center #[u Administrator Functions]]
           //- This POST form allows an Administrator to modify an existing user.
           form.form-signin(method='post', action='/modifyUser')
             h4 #[center Exisitng User Check]
             br
             input.form-control(type='text', name='selectUser', placeholder='Existing User' maxlength='30' required)
             br
             - if(message !=''){
             
             p(style="visibility:show" id="adminSelectErr") #{message}

             - }

             - if(success !=''){
             
             p(style="visibility:show" id="adminSelectSuc") #{success}

             - }

             br
             button.btn.btn-lg.btn-primary.btn-block(type='submit' id="adminUserSubmit") Submit

           form.form-signin(method='', action='')
             button(href="/resetUserPass" type="button" class="btn btn-default btn-block") Reset Users Password
             button(id="showPasswordForm" type="button" class="btn btn-default btn-block") Change User's Username
             button(id="showPasswordForm" type="button" class="btn btn-default btn-block") Change User's Email
             button(id="showPasswordForm" type="button" class="btn btn-default btn-block") Delete User


             br
        






