extends layout-auth
block content
      .wrapper
           form.form-signin(method='', action='')
             h3(id='adminID') #[center Delete User]

             br
             - if(message !=null){
             
             div(class='alert alert-danger' text-align='centre' style='display:block') #{message}
              br
              a(href="/admin") #[center Return to Administrator Settings]

             - }

             - if(success !=null){
             
             //- p(style="visibility:show" id="adminSelectSuc") #{success}
             div(class='alert alert-success' text-align='centre' style='display:block') #{success}
              br
              a(href="/admin") #[center Return to Administrator Settings]
                       
             - }
           

           form.form-signin(method='post', action='/admin-delete-user')
             input.form-control(type='text', name='selectDeleteUser', placeholder='Existing User', maxlength='30' required)
             br
             div(class='form-check form-check-inline')
             input(id='checkbox', type='checkbox', class='form-check-input', value='' required) 
             label(class='form-check-label' for='checkbox' id='deleteUserCheckboxLabel') #[center  I understand that this action is irreversible.]
             br
             br
             button.btn.btn-lg.btn-primary.btn-block(type='submit' id="selectResetUserSubmit") Delete User

        






