extends layout-ad
block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }
      .wrapper
           form.form-signin(method='', action='')
             h3(id='adminID') #[center Administrator Settings]

             br
             - if(message !=null){
             
             div(class='alert alert-danger' text-align='centre' style='display:block') #{message}


             - }

             - if(success !=null){
             
             //- p(style="visibility:show" id="adminSelectSuc") #{success}
             div(class='alert alert-success' text-align='centre' style='display:block') #{success}

             
             - }


           //- This POST form allows an Administrator to modify an existing user.
           form.form-signin(method='post', action='/modifyUser')
             h4 #[center Existing User Check]
             br

             input.form-control(type='text', name='selectUser', placeholder='Existing User' maxlength='30' required)
             br

             button.btn.btn-lg.btn-primary.btn-block(type='submit' id="adminUserSubmit") Submit

           form.form-signin(method='', action='')

             a(href="/adminChangeUsername" type="button" class="btn btn-default btn-block") Change Account Username
             a(href="/adminResetUserPass" type="button" class="btn btn-default btn-block") Reset Account Password
             a(href="/adminDeleteUser" type="button" class="btn btn-default btn-block") Delete User
             br
             a(href="/home" type="button" class="btn btn-default btn-block") Return to Home Page
        






