extends layout
block content
      .wrapper
        form.form-signin(method='post', action='/change-unauth-password')
          h3 #[center  Forgotten Password?]

          br
          - if(message !=null){
             
          div(class='alert alert-danger' text-align='centre' style='display:block') #{message}


          - }

          - if(success !=null){
             
          //- p(style="visibility:show" id="adminSelectSuc") #{success}
          div(class='alert alert-success' text-align='centre' style='display:block') #{success}
            br
            a(href="/users") #[center Return to Sign In Page]

             
          - }

          br
          |
          .form-group
            label(for='email') Email
            input.form-control(type='text', name='email', placeholder='hello@example.com' maxlength='45' required)
          |
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
          


