extends layout
block content
      .wrapper
        form.form-signin(method='post', action='/change-unauth-password')
          h3.form-signin-heading Forgotten Password?
          |
          //- This displays a notification box in /index when a #message alert is produced by app.js, 
          .form-group
            input.form-control(type='text', name='email', placeholder='Enter your Email Address' required)
          |
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
          


