extends layout
block content
    .wrapper
        div(class="list-group")
            h3.form-signin-heading(id="list-group-heading") Contact Us
            label.checkbox
            p #[center Please send any queries to; ]
            label.checkbox
            a(href="mailto:leepjwallace@gmail.com") #[center #[strong leepjwallace@gmail.com]]
            
    

       
            




