extends layout

block content
  br

  h1 #[center 👋 Hey! An error has occured here]
  br
  h2 #[center  #[a(href="/home") Return to Home ]]


  br
  h3 #[center Error Status: (#{message})]
  br
  pre #[justify #{error.stack}]

