extends layout-auth
block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }
      .wrapper
           form.form-home(method='', action='')
             h3 #[center Welcome Back, #{full_name}.]    
             br
                     
             - if(message !=null){
             
             div(class='alert alert-danger' text-align='centre' style='display:block') #{message}

             - }

             - if(success !=null){
             
             //- p(style="visibility:show" id="adminSelectSuc") #{success}
             div(class='alert alert-success' text-align='centre' style='display:block') #{success}

             - }
             p #[center This application is designed to be used as a tool that displays visual representations for in both Knife Crime and Youth Service Budget Funding Datasets.]
             p #[center Carefully designed Visualisations are paired together to represent as much useful information as possible; research during a Literature Review and Product Research showed that a combination of various visualisations are effective. ]
             p #[center The objective of the Dashboard being constantly available is to allow users to identiy key areas within London alongside constantly updating data, to identify the areas that have had the greatest amount of budget cuts, and to identify how knife crime has changed in this area.]
             p #[center In identifying these areas, authorities in a position of power will have the information available in a quickly readable format to drive positive change in these areas, improving local communities and London's streets.]


           form.form-signin(method='', action='')
             a(href="/dashboard" type="button" class="btn btn-primary btn-block") Open Dashboard
             a(href="/users" type="button" class="btn btn-default btn-block") My Account
             
           if isAdmin == 1
            form.form-signin(method='', action='')
              a(href="/admin" type="button" class="btn btn-default btn-block") #[center Administrator Settings]
