extends layout-auth
block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }
      .wrapper
           form.form-home(method='', action='')
             br
             br
                
             - if(message !=null){
             
             div(class='alert alert-danger' text-align='centre' style='display:block') #{message}

             - }

             - if(success !=null){
             
             //- p(style="visibility:show" id="adminSelectSuc") #{success}
             div(class='alert alert-success' text-align='centre' style='display:block') #{success}

             - }

           form.form-signin(method='', action='')
             a(href="/dashboard" type="button" class="btn btn-primary btn-block") Open Dashboard
             a(href="/users" type="button" class="btn btn-default btn-block") My Account Settings
             
           if isAdmin == 1
            form.form-signin(method='', action='')
              a(href="/admin" type="button" class="btn btn-default btn-block") #[center Administrator Settings]
