extends layout
block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }
      .wrapper
         form.form-landing(method='', action='')

          <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <img class="rounded-circle" src="https://image.flaticon.com/icons/svg/2271/2271887.svg" alt="Generic placeholder image" width="140" height="140">
                <h2>Target Audience</h2>
                <p>This application is designed to be used by Local Authorities. It hopes to serve as a tool that can be used to identify boroughs that may of seen increased knife crime as a result of reduced youth service funding.</p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="https://image.flaticon.com/icons/svg/1694/1694364.svg" alt="Generic placeholder image" width="140" height="140">
                <h2>Objectives</h2>
                <p>In identifying these areas, authorities in a position of power will have the information available in a quickly readable format to drive positive change in these areas, improving local communities and London's streets.</p>
                <br>
                a(href="/signin" type="button" class="btn btn-primary" id="proceedBtn") #[center Proceed #[span(class="glyphicon glyphicon-chevron-right")]] 

              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="https://image.flaticon.com/icons/svg/2942/2942922.svg" alt="Generic placeholder image" width="140" height="140">
                <h2>Our Data</h2>
                <p>Data used in this application is publically available and was sourced from <a href="https://data.gov.uk" target="_blank">data.gov.uk</a>. Datasets used in this application include: <br> <li>Knife Crime Data (2011 - 2019)</li><li>Youth Service Budget Data (2011 and 2019)</li></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

















