extends layout-auth
block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }
      .wrapper

           form.form-signin(method='', action='/dashboard')
             h4.form-signin-heading.text-nowrap Welcome Back, #{full_name}     
             table
                tr
                    th Username
                    th Full Name
                    th Email
                tr
                    td  #{username}
                    td  #{full_name}
                    td  #{email}

           form.form-signin(method='', action='')
             a(href="/dashboard" type="button" class="btn btn-default btn-block") Open Dashboard
             button(id="showPasswordform" onClick="onClickClose();" type="button" class="btn btn-default btn-block") Change Password

           form.form-signin(id="formAuthPassword" method='post', action='/change-auth-password')
             input.form-control(type='password', name='passwordchange', placeholder='New Password' required)
             button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit


