<!-- This page will display when the user has logged in, it is the .pug template for the /users page.-->
<!-- layout.pug is extended for use in this page, with added content-->

extends layout
block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }
      .wrapper
           form.form-signin(method='', action='')
             h3.form-signin-heading Login
             h5 Welcome: #{full_name} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp; 
              a(href='/logout') Logout
             table
                tr
                    th Username
                    th Full Name
                tr
                    td  #{username}
                    td  #{full_name}