extends layout-auth
block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }
      .wrapper
           form.form-signin(method='', action='/dashboard')
             h4.form-signin-heading.text-wrap Welcome Back, #{full_name}     
             table
                tr
                    th #[center Username]
                    th #[center Full Name]
                    th #[center Email]
                tr
                    td  #[center #{username}]
                    td  #[center #{full_name}]
                    td  #[center #{email}]
             
             label.checkbox
             p #[center You have logged in successfully! Please use the links below to access the Dashboard or change your password.]

           form.form-signin(method='', action='')
             a(href="/dashboard" type="button" class="btn btn-default btn-block") Open Dashboard
             button(id="showPasswordForm" type="button" class="btn btn-default btn-block") Change Password
             br
             a(href="/admin") #[center #[u Administrator Dashboard]]

           form.form-signin(id="formAuthPassword" method='post', action='/change-auth-password')
             input.form-control(type='password', name='passwordchange', placeholder='New Password' required)
             input.form-control(type='password', name='confirmPasswordChange' placeholder='Confirm New Password' required)
             button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit


