body {
  background: #eee !important;
}

@-ms-viewport{
  width: device-width;
  }

textarea {
  resize: none;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Wrapper for the user sign in form, exclusively for the register button*/
.wrapper-reg-button { 
  float: inline-end;
  width: 100px;
  height: auto;
  box-sizing: content-box;
}

.form-signin {
  max-width: 520px;
  padding: 15px 35px 35px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-home {
  max-width: 950px;
  padding: 15px 35px 35px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);

}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
  margin-left: 45px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form [type="register-button"] {
  margin-top: 100px;
}


/* This hides the password form on the User Page. */
#formAuthPassword {
  display: none;
}

.error{
  color: red;
  display:none;
}

.navbar-inverse{
  position: relative;
  margin-top: -50px;
  background-color: #212327;
}

/* 
padding-bottom: 5px;
  margin-top: -50px;
  width: 960px;
  margin-right: 5px;
  padding-right: 12px;
  padding-left: 12px;
*/

.alert{
  text-align: center;
  display: none;
  overflow-wrap: normal;
}

.alert alert-success{
  display: none;
}

#adminAlert{
  text-align: center;
  text-decoration: underline;
  visibility: none;
  overflow-wrap: normal;
}

.footer {
  position: relative;
  height: 100px;
  width: 100%;

}

p.footer {
  position: absolute;
  width: 100%;
  line-height: 40px;
  text-align: center;
  bottom:0;
}


/* padding has been increased downwards in the authorised footer*/
p.footer-auth{
  position: absolute;
  width: 100%;
  line-height: 40px;
  text-align: center;
  bottom:0;
}

.card {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.list-group {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#list-group-heading {
  text-align: center;
  padding: 20px;
}

#accessibilitylist {
  text-align: center;
}

#accessibilityDesc {
  text-align: left;
  padding: 20px;
}

#tableauPlaceholder {
  position: absolute;
  width: 100px;
}

#adminSelectErr {
  visibility:none;
  text-align: center;
  color: red;
}

#adminSelectSuc {
  visibility: none;
  text-align: center;
  color: green;
}

#adminSelectErrBlock {
  display: none;
}

#deleteUserCheckboxLabel {
  padding-left: 10px;
}

table, th, tr, td{
  border: 1px solid black;

}


/*
 * Bootstrap Cookie Alert by Wruczek
 * https://github.com/Wruczek/Bootstrap-Cookie-Alert
 * Released under MIT license
 */
.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background: #212327;
}

.cookiealert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}

.cookiealert .learnmore {
  margin-left: 10px;
  vertical-align: baseline;
}

#registerTooltip {
  margin-left: 0px;
}

.modal-footer{
  text-align: center;
}



