extends ../layout
block content
      .wrapper

        form.form-signin(method='post', action='/signin')
          h3 #[center Sign in  ]
          |
          //- This displays a notification box in /index when a #message alert is produced by app.js, 
          - if(message !=''){
            div(class='alert alert-info' text-align='centre' style='display:block') #{message}
          - }

          - if(success !=null){
             
             //- p(style="visibility:show" id="adminSelectSuc") #{success}
             div(class='alert alert-success' text-align='centre' style='display:block') #{success}
             br
          - }










          .form-group
            label(for='username') Username
            input.form-control(type='text', name='username', placeholder='Username' required)
          |
          .form-group
            label(for='password') Password
            input.form-control(type='password', name='password', placeholder='Password' required)
          |
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
          |
          label.checkbox
          a(href="/register") #[center #[u Register a New User]]
          br
          a(href="/changepassword") #[center #[u Forgotten Password?]]


//-        form.form-signin(method='', action='')
//-         a(href="/register" type="button" class="btn btn-default btn-block") Register a new user
//-         a(href="/changepassword" type="button" class="btn btn-default btn-block") Forgotten Password
