extends ../layout
block content
      .wrapper
        form.form-signin(method='post', action='/signin')
          h3.form-signin-heading Login to Dashboard
          |
          - if(message){
            p(style='color:red' text-align='centre') #{message}
          - }

          input.form-control(type='text', name='username', placeholder='Username' required)
          |
          input.form-control(type='password', name='password', placeholder='Password' required)
          label.checkbox
          |
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
          |
        form.form-signin(action="/register")
          button.btn.btn-sm.btn-default.btn-block(type='submit') Register a new user
